// - - - - - - - - - - - - - - - - - - - - - - - - -
// Utilities: _helpers
// - - - - - - - - - - - - - - - - - - - - - - - - -

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Accessability
// - - - - - - - - - - - - - - - - - - - - - - - - -
.u-element-hidden {
  @include element-invisible;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Sections
// TODO: Look at if we need a section tag anymore, due to flexbox.
// - - - - - - - - - - - - - - - - - - - - - - - - -
.u-section {
  @include clearfix;
  width: 100%;
  float: left;

  &--default {
    padding-top: rem-calc(40);
    padding-bottom: rem-calc(40);
  }

  &--normal {
    padding-left: $spacing-primary;
    padding-right: $spacing-primary;
  }

  &--lrg {
    padding-top: rem-calc(60);
    padding-bottom: rem-calc(60);
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Generate show only classes
// - - - - - - - - - - - - - - - - - - - - - - - - -
@each $show-only in $breakpoint-classes {
  .u-show-only--#{$show-only} {
    display: none;
  }
}

.u-show-only--small {
  @include breakpoint(small only) {
    display: block;
  }
}

.u-show-only--medium {
  @include breakpoint(medium only) {
    display: block;
  }
}

.u-show-only--large {
  @include breakpoint(large only) {
    display: block;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Background Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -
.u-slab-primary {
  background-color: $palette-primary;
}

.u-slab-secondary {
  background-color: $palette-secondary;
}

.u-slab-tertiary {
  background-color: $palette-tertiary;
}

.u-slab-success {
  background-color: $palette-success;
}

.u-slab-warning {
  background-color: $palette-warning;
}

.u-slab-error {
  background-color: $palette-error;
}

// Text Colors
// ------------------
.u-text-color-default {
  color: $palette-paragraph;
}

.u-text-color-primary {
  color: $palette-primary;
}

.u-text-color-secondary {
  color: $palette-secondary;
}

// - - - - - - - - - - - - - - - - - - - - - - - - -
// Text Alignment Helpers
// - - - - - - - - - - - - - - - - - - - - - - - - -
.u-text-caps {
  text-transform: uppercase;
}

.u-text-l {
  text-align: left;
}

.u-text-c {
  text-align: center;
}

.u-text-r {
  text-align: right;
}